body {
  background-color: #d2d3d9;
  color: #a61731;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #a61731;
  color: blanchedalmond;
}

.header ul {
  list-style-type: none;
}

.header ul li {
  display: inline-block;
}

.header ul li a {
  text-decoration: none;
  color: blanchedalmond;
}
