body {
  background-color: #d2d3d9;
  color: #17343f;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #a61731;
  color: blanchedalmond;
}

.header ul {
  list-style-type: none;
}

.header ul li {
  display: inline-block;
  margin-right: 50px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.header ul li a {
  text-decoration: none;
  color: blanchedalmond;
}

.container1 {
  background-image: url("/images/Homepage\ picture.jpg");
  background-size: cover;
  height: 900px;
}

.block {
  width: 1080px;
  margin: 0 auto;
}

.footer {
  color: #17343f;
}
